/* CSS reset */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');



body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

body * {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* esconde as ancoras da tela */
a.links {
  display: none;
  box-sizing: border-box;
}

/* content que contem os formulários */
.content {
  width: 40vw;
  height: 30vh;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

/* formatando o cabeçalho dos formulários */
h1 {
  font-size: 44px;
  color: #1eaca2;
  padding: 10px 15px;
  text-align: center;
  box-sizing: border-box;
  
}

h1:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 5px;
  background: -webkit-linear-gradient(left,
      rgba(147, 184, 189, 0) 0%,
      rgba(158, 205, 211, 0.8) 20%,
      rgb(141, 206, 214) 53%,
      rgba(165, 217, 224, 0.8) 79%,
      rgba(147, 184, 189, 0) 100%);
  background: linear-gradient(left,
      rgba(147, 184, 189, 0) 0%,
      rgba(147, 184, 189, 0.8) 20%,
      rgba(147, 184, 189, 1) 53%,
      rgba(147, 184, 189, 0.8) 79%,
      rgba(147, 184, 189, 0) 100%);
}

p {
  margin-bottom: 15px;
  box-sizing: border-box;
}

p:first-child {
  margin: 0px;
  box-sizing: border-box;
}

label {
  color: #f0ffff;
  position: relative;
  box-sizing: border-box;
}

/**** advanced input styling ****/
/* placeholder */
::-webkit-input-placeholder {
  color: #bebcbc;
  font-style: italic;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #bebcbc;
  font-style: italic;
}

input {
  outline: none;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  font-size: 16pt;
  outline: none;
  font-weight: 100;
  color: rgb(121, 121, 121);
  font-family: 'Quicksand', sans-serif;

}


input:not([type='checkbox']) {
  width: 100%;
  margin-top: 4px;
  padding: 10px;
  border: none;
  font-size: 16pt;
  outline: none;
  box-sizing: border-box;

  -webkit-border-radius: 5px;
  border-radius: 10px;

  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;

  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/*estilo do botão submit */
button[type='submit'] {
  width: 100% !important;
  cursor: pointer;
  background: #1db6ab;
  padding:5px;
  color: #fff;
  font-size: 20px;
  border: none;
  margin-bottom: 10px;
  box-sizing: border-box;box-shadow: 0px 1px 10px #3fb8ac;
  

  -webkit-border-radius: 5px;
  border-radius: 5px;

  transition: all 0.2s linear;
}

input[type='submit']:hover {
  background: #4ab3c6;
}

/*marcando os links para mudar de um formulário para outro */
.link {display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  background: #d3eeee;
  color: #748a88;
  left: 0px;
  height: 5vh;
  width: 100%;
  padding: 17px ;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  box-shadow: 0px 1px 10px #8fbbb6;


  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.link a {
  box-sizing: border-box;
  padding: 3px;
  color: rgb(29, 162, 193);
  
  -webkit-border-radius: 5px;
  border-radius: 1px;

  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.link a:hover {
  color: #0d4d45;
}

 h1{
  font-family: 'Quicksand', sans-serif;
  font-weight: 20;
  
}
/* estilos para para ambos os formulários */
#cadastro,
#login {

  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #80cbc4;
  top: 20px;
  width: 63%;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 5px 60px #3fb8ac;
  outline: none;

/*
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 10px 15px;
border: none;
border-radius: 10px;
padding: 15px; 
background: #f0ffff;
font-size: 16pt;
box-shadow: 0px 5px 60px #3fb8ac;
border-radius: 25px;
outline: none;
box-sizing: border-box;
*/

  /* -webkit-box-shadow: 5px; */
  border-radius: 20px;

  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;

  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

#paracadastro:target~.content #cadastro,
#paralogin:target~.content #login {
  z-index: 2;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;

  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

#registro:target~.content #login,
#paralogin:target~.content #cadastro {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

/*fadeInLeft*/
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*fadeOutLeft*/
@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}

.erro {
  opacity: .5;
}

.ativado {
  color: #ff0707;
  opacity: 1;
}