
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;

}

body * {
  box-sizing: border-box;
}

.main-login {
  width: 100vw;
  height: 100vh;
  background: #f0ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-login > a{
    font-size: 1.7vw;
    color:#1db6ab;
    text-decoration: none;
}

.left-login > img {
  width: 38vw;
}

.right-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 15px;
  background: #80cbc4;
  border-radius: 20px;
  box-shadow: 0px 10px 50px #26a69a;
}

.card-login > h4{
  align-items: center;
  justify-content: center;
  color:#f0ffff ;
  font-weight: 500;
  margin: 15px;
  text-align: justify;
}


.card-login > h1 {
  display:inline-flex;
  color:#e3fffd;
  font-weight: 550;
  margin: 0;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*justify-content refere-se ao eixo x; align-itens refere-se ao eixo y*/
/* entretanto, ao usar o flex-direction isso se inverte*/
.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 15px;
}

.textfield > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px; /* apenas um valor serve para o eixo x e y*/
  background: #f0ffff;
  color: #455a64;
  font-size: 16pt;
  box-shadow: 0px 5px 60px #3fb8ac;
  outline: none;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.textfield > label {
    color: white;
    margin-bottom: 10px;
}

.textfield > input ::placeholder {
  color: #add8e6;
}

.card-login > a {
  text-decoration: none;
  color: white;
}

#reset-password {
  margin-bottom: 10px;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 605;
    letter-spacing: 3px;
    color:#1db6ab;
    background:#E0F2F1;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #26A69A;
    font-family: 'Josefin Sans', sans-serif;
}

@media only screen and (max-width: 950px) {
  .card-login {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  .main-login {
    flex-direction: column;
  }
  .left-login > h1 {
    display: none;
  }
  .left-login {
    width: 100%;
    height: auto;
  }
  .right-login {
    width: 100%;
    height: auto;
  }

  .left-login > img {
    width: 40vh;
  }
  .card-login {
    width: 90%;
  }
}
